body {
    background:url('../images/musicimage2.jpg');
    background-color:black;
    background-size: contain;
    color: beige;
    background-position: right top;
}
#splash {
    background:url('../images/musicimage2.jpg');
    background-size: contain;
    display: flex;
    opacity:0.9;
    justify-content: center;
    align-items: center;
    color: beige;
    background-position: right top;
    width:100%;
    height:100%;
    font-size: 30pt;
    font-weight:bold;
}
input, span {
    /*font-weight:bold;*/
    text-transform:uppercase;
    background: #99ccff;
    font: bold 8pt Arial Rounded MT Bold;
    /*font-size:10px;*/
}

#reportProblem, #about {
    display:none;
    width:50%;
    background-color:#99ccff;
    color:black;
    padding:5px;
}
#reportHeading, #aboutHeading{
    color:black;
    width:100%;
    background:#69C0A0;
    text-align: center;
}
#reportBody, #aboutBody{
    color:black;
    padding:20px;
    text-valign: top;
}
#loser {
    display:none;
    width:30%;
    text-align: center;
    background-color:#99ccff;
    color:black;
    padding:40px;
}
button{
    background:inherit;
    color: #99ccff;
    font-size:10px;
}

audio {
        /*display:none;*/
}

button:disabled{
    background:inherit;
    color: #99ccff;
    font-size:10px;
}
.smooth{
    border:none;
    background:transparent;
}

